{% extends 'layout.html' %}

{% block body %}
<div class="guide-div" >
<p style="text-align: center;">
    <iframe width="350" height="196" src="https://www.youtube.com/embed?v=xVu_I6WCsto" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</p>
    <div class="content">
        <p style="font-size: 25px; font-weight: lighter; margin-bottom: -8px; margin-top: 2px;">
            How to Protect Yourself & Others
        </p><br>
        • COVID-19 vaccines are effective at preventing you from getting sick. COVID-19 vaccines are highly effective at preventing severe illness, hospitalizations, and death.<br><br>
        • Getting vaccinated is the best way to slow the spread of SARS-CoV-2, the virus that causes COVID-19.<br><br>
        • Everyone ages 2 years and older should properly wear a well-fitting mask indoors in public in areas where the COVID-19 Community Level is high, regardless of vaccination status.<br><br>
        • Wash your hands often with soap and water for at least 20 seconds especially after you have been in a public place, or after blowing your nose, coughing, or sneezing.<br><br>
        <!-- • If you come into close contact with someone with COVID-19: follow CDC’s recommendations for quarantine.<br><br> -->
        <p style="margin-top: 0px; margin-bottom: 6px;">Learn more about this on 
            <a style="color: whitesmoke;" href="https://youtu.be/IT7ghcGy6r0" target="_blank">YouTube</a>
            or their 
            <a style="color: whitesmoke;" href="https://www.cowin.gov.in/" target="_blank">website</a>.</p>
    </div>
</div>


{% endblock %}